<div class="container">
    <div class="section">
        <div class="header">
            <h1>Welcome to Kiritiri Co-Operative Society Ltd.</h1>
            <h4>Choose your user type to get started:</h4>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_company" >
                Register as a Co - Op
            </button>
            <button nz-button nzType="primary" routerLink="/register_client" >
                Register as a Client
            </button>
        </div>
    </div>
</div>
